.slider {
  font-size: 16px;
  font-family: Roboto, sans-serif;
  position: relative;
  width: 100%;
  height: 300px;
  margin: 50px auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 200px;
  text-align: center;
  transform: translatex(-50%);
  z-index: 1000;

  list-style: none;
  text-align: center;
}

.slider input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-controls label {
  display: inline-block;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #212121;
  transition: background-color 0.2s linear;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] {
  background-color: #f3ecee;
}

#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #f3ecee;
}

#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #f3ecee;
}

/* SLIDES */

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  text-align: center;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 100%;

  opacity: 0;
  transform: translatex(-100%);
  transition: transform 250ms linear;
}

.slide-content {
  width: 400px;
}

.slide-title {
  margin-bottom: 20px;
  font-size: 36px;
}

.slide-text {
  margin-bottom: 20px;
}
#tes_icons{
  font-size: 20px;
  color: orangered;
}

/* Slide animations */
#btn-1:checked ~ .slides .slide:nth-child(1) {
  transform: translatex(0);
  opacity: 1;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  transform: translatex(0);
  opacity: 1;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  transform: translatex(0);
  opacity: 1;
}

#btn-1:not(:checked) ~ .slides .slide:nth-child(1) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-2:not(:checked) ~ .slides .slide:nth-child(2) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

#btn-3:not(:checked) ~ .slides .slide:nth-child(3) {
  animation-name: swap-out;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes swap-out {
  0% {
    transform: translatex(0);
    opacity: 1;
  }

  50% {
    transform: translatex(50%);
    opacity: 0;
  }

  100% {
    transform: translatex(100%);
  }
}




    
/* main section */
.testimonial_slider_section_row{
display: flex;
justify-content: space-around;
width: 100%;
height: auto;
}
.leftdiv_testimonial_section{
    width: 50%;
    height: 500px;
    background-color:rgba(214, 212, 209, 0.993);
}
.rightdiv_tes_sec{
    width: 50%;
    height: 500px;
    background-color: rgb(197, 166, 135);
    

}
.paragraph{
  text-align: center;
}
.none{
  list-style-type: none;
}

.testimonials{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
}

.rounding{
    border-radius: 40%;
    margin-left: 260px;
    padding-top: 20px;
    margin-top: 40px;
}
/* css */
.paragraph
{
  box-sizing: border-box;
}
/* Media query */
@media screen and (max-width: 600px) {
.hero{
display: flex;
justify-content: space-around;
width: 100%;
height: auto;
}
.leftdiv{
    width: 100%;
    height: auto;
    background-color:rgba(252, 139, 9, 0.993);
}
.rightdiv{
    width: 100%;
    height: auto;
    background-color: rgb(235, 172, 109);   

}

.testimonials{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
}
    

.rounding{
    border-radius: 40%;
    margin-left: 260px;
    padding-top: 20px;
    margin-top: 40px;
}
}

