/* carousel */




.first2{
    width: 100%;
    margin-top: 20px;
    background-color: white;

}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    text-align:center;

  }
  /* indicator position */
  #quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
  }
  /* indicator color */
  #quote-carousel .carousel-indicators li {
    background: #c0c0c0;
  }
  /* active indicator */
  #quote-carousel .carousel-indicators .active {
    background: #333333;
    height:10px;
    width:10px;
    margin-bottom:1px;
  }
  /* typography */
   .testimonial_main_heading {
    text-align:center;
    font-size: 25px;
    /* margin-bottom:-20px ; */
    color: black;
    margin-top: 15px;
    font-weight: 300;
  } 




    
/* main section */

.testimonial_slider_section_row{
display: flex;
justify-content: space-around;
width: 100%;
height: auto;
}
.leftdiv_testimonial_section{
    width: 50%;
    height: 500px;
    background-color:rgba(252, 139, 9, 0.993);
}
.rightdiv_tes_sec{
    width: 50%;
    height: 500px;
    background-color: rgb(235, 172, 109);
    

}

.testimonials{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
}

.rounding{
    border-radius: 40%;
    margin-left: 260px;
    padding-top: 20px;
    margin-top: 40px;
}
/* css */
.paragraph
{
  box-sizing: border-box;
}
/* Media query */
@media screen and (max-width: 600px) {
.hero{
display: flex;
justify-content: space-around;
width: 100%;
height: auto;
}
.leftdiv{
    width: 100%;
    height: auto;
    background-color:rgba(252, 139, 9, 0.993);
}
.rightdiv{
    width: 100%;
    height: auto;
    background-color: rgb(235, 172, 109);   

}

.testimonials{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    
}
    

.rounding{
    border-radius: 40%;
    margin-left: 260px;
    padding-top: 20px;
    margin-top: 40px;
}
}
