
/* --------------------------------------- */
  /* our story css start */
  /* ---------------------------------- ---- */

  *{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
  }



 

  
  body{
    min-height: auto;
    display: block;
  }
  
  .about-section{
    background: url(/public/static/images/hotel_logo-min.jpeg) no-repeat left;
    background-size: 55%;
     object-fit: cover;
    height: 40.625rem;
    padding-top:6.25rem;
    box-sizing: border-box;
  }
  
  .inner-container{
    width: 55%;
     height:40.625rem; 
    float: right;
    background-color: #fdfdfd;
    padding: 6.25rem;
  box-shadow: rgba(14, 30, 37, 0.8) 0.125rem 0.125rem 0.0625rem 0.125rem;
  
  }
  .inner-container h1{
    margin-bottom: 5rem;
    font-size: 6.25rem;
    font-weight: 1000;
  }
  
  .text{
    font-size: 0.75rem;
    color: #545454;
    line-height: 1.875rem;
    margin-bottom: 2.5rem;
    margin-top: -5.625rem;
    text-align: left;
    
    
    
  }
  h1{
  color: black;
   font-family: 'Amita',serif;
   font-size: 1.375rem;
  }
  
  .skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 0.8125rem;
  }  
  @media screen and (max-width:37.5rem){
    .about-section{
      background: url(/public/static/images/hotel_logo-min.jpeg) no-repeat left;
      background-size: 100%;
      overflow: hidden;
      margin-top: -45.313rem;
      box-sizing: border-box;
    }
    .inner-container{
      width: 100%;
      margin-top: 56.25rem;
      overflow: hidden;
      padding: 5.25rem;
      background-color: #fdfdfd;
    box-shadow: rgba(14, 30, 37, 0.8) 0.125rem 0.125rem 0.0625rem 0.125rem;    
    }
    .inner-container h1{
      margin-bottom: 5rem;
      font-size: 6.25rem;
      font-weight: 1000;
    }    
    .text{
      font-size: 0.75rem;
      color: #545454;
      line-height: 1.875rem;
      margin-bottom: 2.5rem;
      margin-top: -5.625rem;
      text-align: left;  
      margin-left: -70px;
      width: 340px;    
    }
    h1{
    color: black;
     font-family: 'Amita',serif;
     font-size: 1.375rem;
    }    
    .skills{
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 0.8125rem;
    }    
  }


  span{
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  padding: 0.625rem;
  width: 31.25rem;
  }
  span:hover{
  background-image: linear-gradient(to right top, #f85370, #f35470, #ee5570, #e8556f, #e3566f);
  color: #fff;
  border-radius: 1.25rem;
  transition: 0.5s;
  
  }
  .active{
  background-image: linear-gradient(to right top, #f85370, #f35470, #ee5570, #e8556f, #e3566f);
  color: #fff;
  border-radius: 1.25rem;  
  }  
  .ourstory{
    margin-top: -6.25rem;
    padding-bottom: 1.875rem;
    text-align: center;
    padding-top: 0.625rem;
  }
